html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #FFDF5D;
}

body {
    font-family: 'Abhaya Libre', serif;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.movie-reel {
    height: 177px;
    background-image: url("../images/moviereel.jpg");
    background-repeat: repeat-x;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 10px;
}

.appname {
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive, serif;
    margin: .4rem 0;
    color: #B8B8B8;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #FFFF00 , 0 0 70px #FFFF00 , 0 0 80px #FFFF00 , 0 0 100px #FFFF00 ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.appname:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

.search-image {
    width: .8rem;
    height: .8rem;
}

.results {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.movie {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    height: 360px;
    width: 185px;
    margin: 3px;
}

.movie img {
    margin: 0 auto;
    height: 300px;
    width: 180px;
}

.movie span {
    color: #505457;
    margin-top: 2px;
}